@media (max-width: 576px) {

header.home {
  height: 275px;
  background: url(../img/header-mobile.jpg) top center no-repeat;
  background-size: contain;
}
header.page {
  height: 145px;
  background: url(../img/header-page-mobile.jpg) top center no-repeat;
  background-size: cover;
}
section{
	margin: 60px 0!important;
}
section.page{
	margin: 30px 0!important;
}
p, .lead{
	font-size: 1rem;
}
h3 {
    font-size: 1.15rem;
}
.solomobile{
	display:block;
}
.solodesktop{
	display:none;
}
.title, .title.page{
	font-size: 4rem;
	line-height: 4rem;
}
.title.page, .title.page .ml-5{
	margin: 0!important;
	margin-top:15px!important;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    font-weight: 700;
    margin-top: 20px;
}
/*.line {
    top: -19px;
}
.line:before {
    width: 80%;
    left: 10%;
}*/
.row{
	margin: 15px -15px;
}
.white {
    color: #c20c19;
}
form .card{
	margin-top:30px;
}
form .mr-2, form .mr-3, form .mr-4, form .mr-5, h2.mb-5{
	margin-right:0!important;
	margin-bottom: 15px!important;
}
form .mt-0{
	margin-top: 20px!important;
}
form .justify-content-end, form .text-right{
	justify-content: center!important;
	text-align: center!important;
}
.card-header {
    font-size: 0.85rem;
}
.display-4{
	font-size:2rem;
}


}

@media (max-width: 992px) {
	
	.solodesktop{
	display:none;
}
	
}